 /* green #239346 */
 /* red #be0027 */

html, body { 
    background-color: white;
}
#main {  
    background-image: url(http://www.pinocchiospizza.net/images/pinocchio_216.gif); 
    height: 30vh;
    padding: 0; 
    margin: 0;
}
h1,h2 {
    text-align: center; 
    font-family: Verdana,Arial,Helvetica,sans-serif; 
    margin: 0;
}
h1 {
    margin-bottom: 0.5em; 
    margin-top: 0.5em;
}

.green { 
    background-color: #239346; 
}
.red {
    background-color: #be0027;
}
#header img { 
    float: right; 
    padding-right: 1em;
}
#header table { 
    border: thin solid black; 
}

div.callout { 
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 1.25em;  
    text-align: center; 
    border: medium solid #be0027;
    background-color: #ffffff; 
    margin: 0.5em; padding: 0.5em;
}

div.callout ul {
    font-size: 80%; 
    text-align: left; 
}

img.building {
    margin: 1em; 
    float: left;
}

td {
    vertical-align: top
}

#menu {
    text-align: center; 
}

#menu ul {
    list-style: none; 
    background-color: #fff; 
    padding-top: 0.5em; 
    padding-bottom: 2px;
    margin-bottom: 0; 
    font-weight: bold; 
    font-family: Arial,Verdana,Helvetica,sans-serif;
    border-bottom: 1px solid black; 
}

#menu ul li { 
    display: inline; 
    list-style: none; 
    display: inline;
    margin: 0;
}

#menu ul li a {
    padding: 0.2em 0.5em 0.2em 0.5em; 
    font-size: 80%;
    color: #be0027; 
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 0.5em; 
    margin-right: 0.5em; 
    background-color: #ffffff; 
    text-decoration: none;
}

#menu a:link {
    text-decoration: none;
}

#menu a:visited {
    text-decoration: none;
}

#menu a:hover {
    text-decoration: none; 
    color: #ffffff; 
    background-color: #be0027;
}

#menu #youarehere { 
    background-color: #239346; 
    color: #fff; 
    border-bottom: 1px solid #239346;
}

#main { 
    margin-top: 0; 
}

#main table { 
    margin-top: 0;
}

#main table, #main table tr, #main table td {
    padding: 0; 
    margin: 0;
}

td.price { 
    text-align: right; 
}

table.foodmenu { 
    border: none; 
    background-color: white; 
    padding-top: 1em;
}

table.foodmenu td {
    border-bottom: 1px solid black; 
}
div.leftcolumn { 
    float: left; width: 25%; 
    margin-left: 1em; 
    padding: 1em; 
}
table.hours td {
    text-align: left;

}
div.internalmenunav { 
    text-align: center; 
    font-size: 64%; 
    margin-top: 1em; 
    margin-bottom: 1em; 
    background-color: #cccccc;
}
