{% extends "base.html" %}
{% block title %} - About
{% endblock %}

{% block page_content %}
<main>
<h1> About Pinocchio's </h1>


<h3>Hours</h3>
<p>
Sunday 1 pm - 12 midnight
Monday - Thursday 11 am - 1 am
Friday - Saturday 11 am - 2:30 am*
******* Important note March 17th, 2020--- we will be closing every night at 11:00 pm until further notice
</p>

<img src="http://www.pinocchiospizza.net/images/sign.jpg" />
<h3>Contact</h3>
<p>
Our phone numbers are 617-876-4897 or 617-876-0012

Our fax number is 617-661-6188

Find us on Twitter @PinocchiosPizz

And Instagram @pinocchiospizza1
</p>

<h3> Location and Directions </h3>
<p>
Our mailing address is:

Pinocchio's Pizza
74 Winthrop Street
Cambridge, MA 02138
</p>
<p>
If you have any questions or comments or would like to get on our email list you can email us at
pinocchiospizza1@gmail.com
</p>
<p>
Pinocchio's is located on Winthrop street right near the corner of JFK Street next to Berk's shoes.
We are 2 blocks from the Harvard Square T stop.
Do not park across the street from us! It is a tow zone!
</p>
</main>
{% endblock %}