{% extends "base.html" %} 
{% block title %}
{% endblock %}

{% block page_content %}

       
        <main>
         <div>
               <img  src="http://www.pinocchiospizza.net/images/building3.jpg" />
 
              <h4>Noch's has been in business for over 50 years! We've been feeding Harvard and the surrounding area since 1966!</h4>
        
             <h6>
                We sell award-winning sicilian-style pizza and mouth-watering steak subs! We have over 750 reviews on Yelp--- check it
                out!
                </h6>

                Sicilian vs. Regular
                Sicilian Pizza
                Our Sicilian pizza is a deep-dish or thick-crust pizza. We sell them in a 9-slice or a 15-slice size.
                
                The 9-slice size is 16" x 16" and will feed anywhere from 3 to 5 people.
                The 15-slice size is 28" x 16", comes in 2 large pizza boxes and can feed 6 to 9 people.
                Regular Pizza
                Our Regular pizza is a thin-crust or Neapolitan pizza. They come in 2 sizes: small (12" in diameter) and large (16" in
                diameter). The small is suitable for 1 to 2 people while the large feeds 2 to 4 people.
                
                We can make any of our pizzas in about 10 to 15 minutes, and they can be eaten in our dining room or taken out.
                
                Oh, and always remember:
                
                Eat More Pizza!
                <p style="background-color: gold;">
                ***** April 6th,2020 UPDATE---Pinocchio's will now be closing every night at 9:00 pm following the recommended curfew
                set forth by Mayor Walsh. All orders must be for takeout......you can continue to come in to the shop to order or call
                in. For delivery you can continue to do so thru Grubhub, Doordash and Postmates.....get your orders in by 8:00. Our
                wishes to everyone to stay safe....maintain social distance and wash your hands!!!!*****
             </p>
                <h3>Check out our mention on Suits!</h3>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/hoM7PJu6V-E" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              
            <h3> ....and on the Phantom Gourmet </h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TkABR72j7jU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
        
         <a href="{% url 'menu' %}"><h4>Order online now.</h4></a>
        </main> 

{% endblock %}