 /* green #239346 */
 /* red #be0027 */


 
 
h1,h2 {  
    margin-top:   40px !important;
    text-align: center;   
}

nav {
    padding-bottom: 0px !important;
}

.nav-link {
    padding-bottom: 0px !important;
}

nav h3{
    margin-bottom: 0px !important; 
    padding-top: 30px;
}
 

.green { 
    background-color: #239346; 
}
.red {
    background-color: #be0027;
}

#header img { 
    float: right; 
    padding-right: 2em;
    padding-top: 15px; 
}


#menu {
    text-align: center; 
}

#menu ul {
    list-style: none; 
    background-color: #fff; 
    padding-top: 0.5em; 
    padding-bottom: 2px;
    margin-bottom: 0; 
    font-weight: bold; 
    font-family: Arial,Verdana,Helvetica,sans-serif;
    border-bottom: 1px solid black; 
}

#menu ul li { 
    display: inline; 
    list-style: none; 
    display: inline;
    margin: 0;
}

#menu ul li a {
    padding: 0.2em 0.5em 0.2em 0.5em; 
    font-size: 80%;
    color: #be0027; 
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 0.5em; 
    margin-right: 0.5em; 
    background-color: #ffffff; 
    text-decoration: none;
}

#menu a:link {
    text-decoration: none;
}

#menu a:visited {
    text-decoration: none;
}

#menu a:hover {
    text-decoration: none; 
    color: #ffffff; 
    background-color: #be0027;
}

#menu #youarehere { 
    background-color: #239346; 
    color: #fff; 
    border-bottom: 1px solid #239346;
}
  

table.foodmenu { 
    border: none; 
    background-color: white; 
    padding-top: 1em;
}

table.foodmenu td {
    border-bottom: 1px solid black; 
}
div.leftcolumn { 
    float: left; width: 25%; 
    margin-left: 1em; 
    padding: 1em; 
}  